{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Our Products</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product['name'] }}</td>
                        <td>{{ product['tag'] }}</td>
                        <td>${{ product['price'] }}</td>
                        <td><img src="{{ product['image_path'] }}" alt="{{ product['name'] }}" style="width: 100px; height: auto;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-secondary">Back to Home</a>
    </div>
{% endblock %}
